.App {
  text-align: center;
}

.suggestionItem:hover{
  background-color: #D8D8D8;
}

ul {
  list-style-type: none;
}

#suggestionModal {
width: 25%;
margin-left: 35%;
box-shadow: 10px 10px 5px grey;
}
.app {
  text-align: center;
}

input {
  padding: 10px;
}
