.App {
  text-align: center;
}

.suggestionItem:hover{
  background: grey;
  border: 1 px ;
  border-radius: 25px;
}

ul {
  list-style-type: none;
}

#suggestionModal {
  width: 25%;
  margin-left: 35%;
  box-shadow: 10px 10px 5px grey;
  border: 1 px ;
  border-radius: 25px;
  background:  #D8D7D7;
  padding: 5px;
}
.app {
  text-align: center;
}

input {
  padding: 10px;
}
