.App {
  text-align: center;
}

.chessBoard{
  border: solid 1px black;
  width: 400px;
  height: 400px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

.column{
  display: inline-block;
  z-index: 10;
}

.row{
  display: flex;
  width: 400px;
}

.column:focus {
  background-color: yellow !important;
}
